html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: sans-serif;
}

/* custom scroll */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


#map {
  width: 100%;
  height: 100%;
}

.search {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 400px;
  z-index: 500; /* to put above map */
}

.search__bar {
  background: whitesmoke;
  padding: 10px;
  padding-right: 20px;
  border-radius: 9px;
  box-shadow: 5px 5px 5px #0005;
}

#search__results {
  margin-top: 10px;
  background: whitesmoke;
  border-radius: 9px;
  box-shadow: 5px 5px 5px #0005;
  max-height: 78vh;
  overflow: hidden;
  overflow-y: auto;
  padding: 20px;
  padding-right: 10px;
  border-top: 10px solid whitesmoke;
  border-bottom: 10px solid whitesmoke;
  transition: opacity 0.2s;
  opacity: 1;
}

#search__results:empty {
  opacity: 0;
  pointer-events: none;
}

#search__input {
  background: whitesmoke;
  width: 100%;
  margin: 0px;
  border: none;
  font-size: 1em;
  padding: 5px;
}

.leaflet-top.leaflet-left, .leaflet-control-attribution {
  display: none;
  /* to remove wrong zoom, remove attribution */
}

.result {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-top: 1px solid gray;
}

.result__details {
  display: flex;
  justify-content: space-between;
}

.result__name {
  font-weight: bold;
  max-width: 75%;
  overflow-wrap: break-word;
}

/* MOBILE */

@media only screen and (max-width: 1000px) {
  .search {
    width: calc(100vw - 20px);
  }

  .results__container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 50vh;
    width: 100vw;
    overflow: auto;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    pointer-events: none;
  }

  .touchable {
    pointer-events: auto;
  }

  .results__container div {
    pointer-events: auto;
  }

  #search__results {
    max-height: none;
    width: calc(100vw - 30px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    pointer-events: auto;
  }

  .pill {
    margin: 0 auto;
    margin-top: 30vh;
    position: sticky;
    margin-bottom: -50px;
    top: -10px;
    width: 20px;
    height: 10px;
    padding: 20px 15px;
    display: none;
  }

  .pill:after {
    position: absolute;
    width: 20px;
    height: 6px;
    border-radius: 100px;
    content: "";
    background-color: #bbb;
  }

  #search__results:empty ~ .pill {
    opacity: 0;
  }

  .leaflet-top.leaflet-right {
    margin-top: 60px;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

}
