on:
  push:
    branches: ["main"]
  workflow_run:
    workflows: ["Update Warps"]
    types:
      - completed

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: latest
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - run: |
             git config --global url."https://github.com/".insteadOf git@github.com:
             git config --global url."https://".insteadOf git://
      - run: pnpm install --no-frozen-lockfile
      - run: pnpm run prod
      - run: cd out; echo > .nojekyll; cd ..
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./out
