on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - uses: pnpm/action-setup@v2
      with:
        version: latest
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: latest
    - run: pnpm install --no-frozen-lockfile
    - run: pnpm run prod
    - run: cd out; echo > .nojekyll; cd ..
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./out
